.env

.venv

core/cache/chromadb_cache/
core/cache/files/
core/cache/hf_cache/
.env
.env.*
*.env


# Project caches
core/cache/chromadb_cache/
core/cache/files/
core/cache/hf_cache/

/.streamlit/secrets.toml/
/.streamlit/secrets.toml
